* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



/********************* Text styles *********************/

h1 {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 64px;
    font-family: 'Playfair Display', serif;

}

.h1-white {
    color: white;
}

h2 {
    font-size: 28px;
    font-weight: 300;
    /* font-family: 'Playfair Display', serif; */
}

.h2-white {
    color: white;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

p {
    font-size: 16px;
    line-height: 24px;
}

.p-white {
    color: white;
}

li > a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-out;
}
li > a:before {
    background-color: #143859;
    content: '';
    height: 2px;       
    position: absolute;
    bottom: -4px;    
    width: 0%;
    transition: all 0.18s ease-out;
}

.scrolled-link {
    color: #143859;
}

li:hover > a:before {
    width: 100%;
}

path {
    fill: red;
}

/********************* Header *********************/

.header {
    width: 100vw;
    background: none;
    position: fixed;
    transition: all 0.2s ease-out;
    z-index: 2;
}

.scrolled-header {
    background: white;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.05);
}

.navigation {
    width: 1200px;
    margin: 0 auto;
    padding: 8px 0;
    /* background: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 120px;
    height: 32px;
    background:lightgrey;
}

.right-nav {
    display: flex;
    list-style: none;
}

li {
    margin-left: 32px;
}

.hamburger {
    display: none;
}



/************************ Hero *********************/

.splash {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(20,56,89,0.4) 30%, rgba(20,56,89,0)), url("../images/house1.jpeg");

    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /* background-blend-mode: darken; */
} 

.splash-content {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 48px;
    z-index: 5;
}

.h1-splash {
    margin-bottom: 32px;
    margin-top: 96px;
}

.splash-text {
    font-size: 18px;
    margin: 8px 0;
}

button {
    padding: 16px 40px;
    padding-right: 32px;
    border-radius: 4px;
    outline: none;
    border: none;
    background: #143859;
    /* background: #2B4C6A; */
    color: white;
    cursor: pointer;
}

.splash-button {
    margin: 0 auto;
    margin-top: 64px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(20,56,89,0.20), 0px 8px 20px rgba(20,56,89,0.30);
    transition: all 0.18s ease-out;
}
.splash-button:hover {
    /* box-shadow: 0px 0px 15px rgba(20,56,89,0.20), 0px 12px 32px rgba(20,56,89,0.30); */
    background: #0A2C4C;
}

.splash-button:hover .chevron {
    transform: translateX(4px);
}
.chevron {
    margin-left: 4px;
    transition: all 0.15s ease-out;
}


/******* cash benefits **********/

.cash-benefits {
    position: absolute;
    bottom: -320px;
    width: 95vw;
    height: 400px;
    padding-left: 48px;
    padding-right: 48px;
    background: #66C3CC;
    z-index: 1;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 4px 10px 40px rgba(65,132,152,0.18);
}

.cash-content {
    margin-left: calc(50vw - 600px);
    margin-top: 72px;
    min-width: 1000px;
    max-width: 1200px;
    /* text-align: center; */
}

.h2-benefits {
    color: white;
    /* margin-left: calc(200px - 120px); */
}

.benefits {
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
    margin-bottom: 104px;
}

.benefit-step {
    display: table-cell;
    /* min-width: 200px;
    max-width: 300px; */
    width: 300px;
    height: 160px;
    background: #75C9D1;
    line-height: 160px;
    border-radius: 4px;
    text-align: center;
}





/************************ how it works *********************/

.how {
    width: 100vw;
    /* height: 600px; */
    background: white;
} 

.how-content {
    width: 1200px;
    margin: 0 auto;
    margin-top: 240px;
    text-align: center;
    padding: 48px;
}

.steps {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 128px;
}

.how-step {
    display: table-cell;
    width: 300px;
    height: 300px;
    background: #F1F3F5;
    line-height: 300px;
    border-radius: 4px;
}

/************************ pricing *********************/

.pricing {
    width: 100vw;
    /* height: 600px; */
    background:white;
    padding-bottom: 128px;
} 

.pricing-top {
    width: 100vw;
    /* height: 600px; */
    background: #F1F3F5;
    /* padding-bottom: 600px; */
}

.pricing-content {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 48px;
    padding-bottom: 500px;
    /* background: #F1F3F5; */
    /* height: 600px; */
}

.price-callout {
    display: inline-block;
    padding: 0px 16px;
    background: #DCE1E6;
    border-radius: 4px;
}

.price-description {
    width: 600px;
    margin: 0 auto;
    margin-top: 32px;
    color: gray;
}



/********** slider *************/

.slider-container {
    background: #143859;
    text-align: center;
    padding: 48px;
    width: 800px;
    margin: 0 auto;
    margin-top: -400px;
    border-radius: 4px;
    box-shadow: 0px 0px 40px rgba(20,56,89,0.20), 0px 24px 64px rgba(20,56,89,0.30);
}

.slider-container h2 {
    margin-bottom: 64px;
}

.label {
    font-size: 16px;
    font-weight: 400;
    color: #B9C3CD;
    margin: 0;
    margin-bottom: 4px;
    /* text-transform: uppercase; */
}
.price {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 24px;
    color: white;
    letter-spacing: 0.2px;
}

input {
    margin: 0 auto;
    -webkit-appearance: none; 
    appearance: none;
    width: 600px;
    height: 8px; 
    border-radius: 100px;
    background: #5B748B;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 80px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: white; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 200px;
    transition: all 0.15s ease-out;

}
.slider::-webkit-slider-thumb:hover {
    background: #66C3CC;
}

.slider::-moz-range-thumb {
    width: 100px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: white; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 200px;
    transition: all 0.15s ease-out;
}
.slider::-moz-slider-thumb:hover {
    background: #66C3CC;
}

.calculations {
    display: flex;
    width: 648px;
    margin: 0 auto;
    margin-top: 48px;
    justify-content: center;
    align-items: center;
}

.minus {
    width: 24px;
    height: 3px;
    background: #43607A;
}
.minus-bottom {
    margin-top: 12px;
}

.calcBox {
    background: #2B4C6A;
    padding: 24px 16px;
    margin: 16px;
    width: 200px;
    border-radius: 4px;
}

.saveDiv {
    background: #4D99A9
} 
.saveLabel {
    color: white;
    opacity: 0.8;
}

.number {
    font-size: 24px;
    margin: 0;
    /* margin-bottom: 24px; */
    color: white;
    font-weight: 300;
    letter-spacing: 0.3px;
}

/*************



/************************ Charlotte *********************/

.charlotte {
    width: 100vw;
    height: 500px;
    background: white;
} 

.charlotte-content {
    width: 1200px;
    margin: 0 auto;
    padding: 48px;
}



/************************ FAQ Highlights *********************/

.faq-highlight {
    width: 100vw;
    height: 400px;
    background: #F1F3F5;
} 

.faq-content {
    width: 1200px;
    margin: 0 auto;
    padding: 48px;
    text-align: center;
}

.faq-content > p {
    color: #A1AFBD;
}




/************************ footer *********************/

footer {
    width: 100vw;
    height: 80px;
    background: #143859;
} 

.footer-content {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    display: flex;
}
.footer-links > a {
    margin: 0 16px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.terms {
    display: flex;
}
.terms > a {
    margin: 0 8px;
    color: #8A9CAC;
    font-size: 12px;
    cursor: pointer;
}





/********************* FAQ page ***************/

/* .faq-splash {
    margin-top: 128px;
    text-align: center;
} */

.faq-header {
    background: white;
}

.faq-header a {
    color: #143859;
}

.faq-splash {
    background: white;
    width: 100vw;
    height: 1500px;
    padding-top: 128px;
}

.faq-div1 {
    width: 1200px;
    margin: 0 auto;
}







/******************** small breakpoint *************************/

@media all and (max-width: 600px) { 

    /****** text styles ******/
    h1 {
        font-size: 34px;
        font-weight: 300;
        margin-bottom: 64px;
    }


    /****** header *******/
    .navigation {
        width: calc(100% - 32px);
        margin: 0 16px auto;
        height: 52px;
    }
    
    .logo {
        width: 60px;
        height: 16px;
    }

    .navigation .logo {
        position: absolute;
        left: 16px;
        top: 18px;
    }
    
    .right-nav {
        display: none;
    }

    .hamburger {
        position: absolute;
        right: 16px;
        top: 16px;
        margin-bottom: 16px;
        display: inline-block;
    }
    .hamburger span {
        /* position: absolute; */
        display: block;
        height: 2px;
        width: 20px;
        margin-top: 4px;
        background: #143859;
        border-radius: 50px;

        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .2s ease-out;
        -moz-transition: .2s ease-out;
        -o-transition: .2s ease-out;
        transition: .2s ease-out;
    }

    .hamburger span:nth-child(1) {
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    .hamburger span:nth-child(2) {
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    .hamburger span:nth-child(3) {
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .open > .hamburger span:nth-child(1) {
        margin-top: 1px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .open > .hamburger span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }
    .open > .hamburger span:nth-child(3) {
        margin-top: 6px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .open > .nav {
        position: relative;
    }
   .open {
        height: 320px;
    }
    .open > .nav > .right-nav {
        display: block;
        text-align: left;
        margin-top: 64px;
        padding-left: 8px;        
    }

    li {
        margin: 40px 0;
    }

    li > a {
        font-size: 18px;
        display: block;
        position: static;
        color: #143859;
    }
    li > a:before {
        display: none;
    }


    /********* splash *********/

    .splash {
        width: 100vw;
        height: auto;
        background: linear-gradient(rgba(20,56,89,0.45) 7%, rgba(20,56,89,0) 18%), url("../images/house1.jpeg");
        background-size: 300% auto;
        background-position: 50% 0%;
        background-blend-mode: normal;
    } 
    
    .splash-content {
        width: calc(100% - 32px);
        margin: 0 16px auto;
        padding: 8px;
    }

    .h1-splash {

    }
    
    .splash-text {
        font-size: 16px;
    }
    
    /********* benefits *************/
    .cash-benefits {
        /* position: absolute; */
        position: static;   
        margin-top: 160px;
        width: 100vw;
        height: auto;
        padding: 48px 0;
    }
    
    .cash-content {
        min-width: 0;
        width: calc(100% - 32px);
        margin: 0 16px auto;
        margin-top: 0px;
    }
    
    
    .benefits {
        /* display: flex; */
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;

    }
    
    .benefit-step {
        width: 100%;
        height: 160px;
        background: #75C9D1;
        line-height: 160px;
        margin-bottom: 16px;
    }


     
    /***** how ********/
    .how-content {
        width: calc(100% - 32px);
        margin: 0 16px auto;
        margin-top: 128px;
        padding: 0px;
        padding-top: 48px;
    }

    .steps {
        flex-direction: column;
        justify-content: space-around;

    }

    .how-step {
        width: 100%;
        margin-bottom: 16px;
    }


    /****** pricing *******/

    .pricing {
        width: 100vw;
        /* height: 600px; */
        background:white;
        padding-bottom: 128px;
    } 

    .pricing-content {
        width: calc(100% - 32px);
        margin: 0 16px auto;
        padding: 0px;
        padding-top: 48px;
        padding-bottom: 500px;
    }

    .price-description {
        width: 100%;
    }
    

    /****** slider *****/
    .slider-container {
        background: #143859;
        text-align: center;
        padding: 40px 0;
        width: calc(100% - 32px);
        margin: 0 16px auto;
        margin-top: -400px;
        box-shadow: 0px 0px 40px rgba(20,56,89,0.20), 0px 24px 64px rgba(20,56,89,0.30);
    }

    .slider-container h2 {
        margin-bottom: 64px;
    }

    .label {
        font-size: 14px;
        font-weight: 400;
        color: #B9C3CD;
        margin: 0;
        margin-bottom: 2px;
        /* text-transform: uppercase; */
    }

    input {
        width: calc(100% - 32px);
    }

    .calculations {
        width: calc(100% - 32px);
        margin: 0 auto;
        margin-top: 48px;
        flex-wrap: wrap;
    }

    .discountDiv {
        width: 40%
    }

    .minus {
        width: 8%;
    }


    .feeDiv {
        width: 40%;
    }


    .equals {
       width: 8%; 
    }
    .equals .minus {
        width: 100%;
    }

    .calcBox {
        margin: 8px;
        /* background: #2B4C6A; */
        padding: 8px 8px;
        /* border-radius: 4px; */
    }

    .saveDiv {
        width: 60%;
        background: #4D99A9;
        border-radius: 4px;
        margin-left: 16px;
        margin-top: 16px;
        padding: 16px 8px;
    } 

    .saveLabel {
        color: white;
        opacity: 0.8;
    }

    .number {
        font-size: 16px;
    }
    .saveDiv > .number {
        font-size: 24px;
    }

    /****** Charlotte *****/
    .charlotte-content {
        width: calc(100% - 32px);
        margin: 0 16px auto;
        padding: 48px 0;
    }



    /****** FAQ ******/
    .faq-content {
        width: calc(100% - 32px);
        margin: 0 16px auto;
        padding: 48px 0;
    }


    /******* footer *******/

    footer {
        height: auto;
    } 

    footer .logo {

    }


    .footer-content {
        width: calc(100% - 32px);
        height: 100%;
        margin: 0 16px auto;
        padding: 32px 0;
        display: block;
    }

    .footer-links {
        justify-content: space-between;
        margin-top: 40px;
    }
    .footer-links > a {
        margin: 0;
    }

    .terms {
        display: flex;
        margin-top: 64px;
    }
    .terms > a {
        margin: 0;
        margin-right: 16px;
    }




    /******** FAQ *********/
    .faq-div1 {
        width: calc(100% - 32px);
        margin: 16px auto;
    }

}





