* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



/********************* Text styles *********************/

h1 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 64px;
    color: #333;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Radley', serif;

    /* text-shadow: 20px rgba(0,0,0,0.9); */

}

.h1-white {
    color: white;
}

h2 {
    font-size: 24px;
    font-weight: 400;
    /* font-family: 'Radley', serif; */
}

.h2-white {
    color: white;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

h5 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: #72889B;
    margin-bottom: 16px;
}

p {
    font-size: 16px;
    line-height: 24px;
}

.p-white {
    color: white;
}

.logo p {
    margin: 0;
    display: inline-block;
    font-size: 25px;
    /* vertical-align: middle; */
}
.wordmark-1 {
    font-family: 'Radley', serif;
    font-style: italic;
    font-size: 30px;
}
.wordmark-2 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

li > a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease-out;
}
li > a:before {
    background-color: #FF9A33;
    content: '';
    height: 2px;       
    position: absolute;
    bottom: -4px;    
    width: 0%;
    transition: all 0.18s ease-out;
}

.scrolled-link {
    color: #333;
}

li:hover > a:before {
    width: 100%;
}

path {
    fill: red;
}

/********************* Header *********************/

.header {
    width: 100vw;
    background: none;
    position: fixed;
    transition: all 0.25s ease-out;
    z-index: 2;
}

.scrolled-header {
    background: white;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.05);
}

.navigation {
    width: 1200px;
    margin: 0 auto;
    padding: 8px 0;
    /* background: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
}

.logo-header {
    opacity: 0;
    transition: opacity 0.25s ease-out;
    cursor: pointer;
}

.scrolled-logo-header {
    opacity: 1
}

.right-nav {
    display: flex;
    list-style: none;
}

li {
    margin-left: 32px;
}

.hamburger {
    display: none;
}



/************************ Hero *********************/

.splash {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #F8F8F8;

    background-image: radial-gradient(white 15%, transparent 0%), radial-gradient(white 15%, transparent 0%);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
    /* background-repeat: space; */
} 
.splash-fade {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(210deg, transparent 60%, #f8f8f8 90%);
    background-size: cover;
}

.image-frame {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: calc(55% - 600px);
}

.right-image {
    width: 100%;
    height: 100%;
    /* background-image: url('../images/kitchen-hd.png'); */
    background: linear-gradient(rgba(255,255,255,0.8) 5%, rgba(255,255,255,0) 20%, rgba(255,255,255,0)), url("../images/kitchen-hd.png");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 70%;
    z-index: 0;
    border-bottom-left-radius: 2px;
}

.hero-frame {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.hero-frame p {
    font-size: 18px;
    line-height: 28px;
    color: #333;
}

.left-frame {
    /* display: flex;
    align-items: center; */
    height: 100%;
    max-width: 50%;
    padding-left: calc(50% - 600px);
    padding-top: 12vh;
    background-color: transparent;


}

.left-content {
    display: flex;
    justify-content:center;
    flex-direction:column;
    
    background-color: white; 
    min-height: 60vh;
    padding: 48px 64px;
    padding-bottom: 64px;
    box-shadow: 2px 20px 60px rgba(0,0,0,0.08), 8px 4px 40px rgba(0,0,0,0.08);
    border-radius: 2px;
    /* margin-right: 16px; */
}
.left-content h1 {
    margin-bottom: 40px;
}

.logo-hero {
    margin-bottom: 64px;
}

.novel-logo {
    display: inline-block;
}

.logo-hero p {
    font-size: 20px;
}

.right-frame {
    height: 100%;
    width: 50%;
    padding: 20px;
}

.button {
    padding: 16px 40px;
    padding-right: 32px;
    width: 180px;

    border-radius: 4px;
    outline: none;
    border: none;
    background: #FF9A33;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.18s ease-out;
}

.splash-button {
    margin-top: 80px;
    box-shadow: 0px 0px 10px rgba(20,56,89,0.06), 0px 8px 20px rgba(24, 52, 78, 0.06);
}
.splash-button:hover {
    /* box-shadow: 0px 0px 15px rgba(20,56,89,0.20), 0px 12px 32px rgba(20,56,89,0.30); */
    background: #ff8e20;
}

.button:hover .chevron {
    transform: translateX(4px);
}
.chevron {
    margin-left: 4px;
    transition: all 0.15s ease-out;
}



/********************** cash benefits ********************/

.cash-benefits {
    position: static;
    width: 100vw;
    background: #F8F8F8;
}

.benefits-content {
    width: 1200px;
    margin: 0 auto;
    padding-top: 208px;
    padding-bottom: 120px;
    text-align: center;
}

.benefits-header {
    padding: 48px;
    padding-bottom: 0;
}
.benefits-header > h5 {
    margin-bottom: 16px;
}
.benefits-header > h1 {
    margin-top: 0;
}

.interactive-benefits {
    display: flex;
    padding: 0 64px;
    text-align: left;
}

.benefits-tabs {
    background: white;
    width: 400px;
    padding: 24px;
    flex-grow: 0;    
    flex-shrink: 0;  
    flex-basis: 400px; 
    margin-right: 24px;
    height: 352px;
    border-radius: 6px;
    box-shadow: 0 6px 24px rgba(0,0,0,0.08);
}


.benefits-text {
    /* background: white; */
    width: 100%;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: dashed 1px lightgrey;
    border-radius: 6px;
}

.benefits-tabs > h5 {
    margin-top: 8px;
    text-align: center;

}
.benefit {
    display: block;
    background: white;
    padding: 16px;
    margin-bottom: 12px;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;

    transition: all 0.15s ease-out;
}
.benefit:hover {
    background: #FFF7F0;
}
.benefit:hover .benefit-icon {
    background: white;
}
.benefit:hover > span {
    color: #414141;
}

.benefit.selected {
    background: #FFF7F0;
}

.benefit-button {
    display: flex;
}
.benefit-icon {
    height: 48px;
    width: 48px;
    background: #F5F5F5;
    border-radius: 50%;
    margin-right: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: all 0.15s ease-out;
}
.benefit.selected .benefit-icon {
    background: white;
}

.benefit > span {
    color: #414141;
    /* color: #757575; */
    transition: 0.15s color ease-out;
}
.benefit.selected > span {
    color: #FF8000;
}

input[type="radio"] {
    display: none;
}


.benefits-empty-wrapper {
    display: flex;
    justify-content: center;
}

.benefits-empty {
    display: flex;
    text-align: center;
    /* padding-top: 80px; */
}
.benefits-empty > .arrow-left {
    transform: scaleX(-1);
    margin-right: 20px;
    display: flex;
    align-items: center;
    position: relative;
    left: 8px;
    animation: jump 2s infinite;
    animation-timing-function: ease-out;
}
@keyframes jump { 
    0% { left: 12px; } 
    20% {left: 0}
    40% { left: 12px; } 
    100% { left: 12px; } 
}


.benefits-empty > p {
    margin: 0;
    color: #757575;
}

.benefit-text {
    display: none;
    opacity: 0;

}
.benefit-text.selected {
    display: block;
}

.benefit-text > h2 {
    display: none;
}
.benefit-text > h4 {
    margin-top: 8px;
    line-height: 24px;
    font-size: 18px;
}
.benefit-text > p {
    font-size: 18px;
}
.benefit-text > button {
    display: none;
}



/************************ how it works *********************/

.how {
    width: 100vw;
    /* height: 600px; */
    background: white;
    margin-top: 64px;
} 

.how-content {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 48px;
}

.how-header {
    padding: 48px;
}

.how-header > h5 {
    margin-bottom: 16px;
}
.how-header > h1 {
    margin-top: 0;
}


.timeline {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-step {
    width: 800px;
    display: flex;
    align-items: flex-start;
    margin-top: 4px;
}
.how-first {
    height: 220px;
}
.how-second {
    height: 204px;
}
.how-third {
    height: 204px;
}
.how-fourth {
    height: 204px;
}
.how-fifth {
    height: 204px;
}

.a {
    width: 380px;
}
.b {
    height: 100%;
    width: 22px;
    border-right: 4px dotted lightgray;
}
.c {
    width: 18px;
}
.d {
    width: 380px;
}


.step {
    height: auto;
    background: #FFF7F0;
    /* background: white; */
    padding: 10px 20px;
    text-align: left;
    border-radius: 6px;
    /* border: dashed 1.5px #FFD3A9; */
    /* box-shadow: 0px 0px 12px rgba(0,0,0,0.02), 0px 6px 18px rgba(0,0,0,0.03); */
}
.step-1 {
    margin-top: 40px;
}

.step-title {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.step-desc {
    font-weight: 400;
    color: #333;
}


.how-bottom {
    margin-top: 128px;
    margin-bottom: 104px;
}

.how-bottom p {
    color: #999;
    font-size: 16px;
}

.how-button {
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.06), 0px 10px 20px rgba(0,0,0,0.08);
}

.how-button:hover {
    background: #ff8e20;
}




/************************ pricing *********************/

.pricing {
    width: 100vw;
    /* height: 600px; */
    background:white;
    padding-bottom: 128px;
} 

.pricing-header {
    margin-top: 64px;
}

.pricing-top {
    width: 100vw;
    /* height: 600px; */
    background: #F8F8F8;
    /* padding-bottom: 600px; */
}

.pricing-content {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 48px;
    padding-bottom: 440px;
}

.price-callout {
    display: inline-block;
    padding: 0px 16px;
    background: #e6e6e6;
    border-radius: 4px;
}

.price-description {
    width: 600px;
    margin: 0 auto;
    margin-top: 32px;
    color: gray;
}



/********** slider *************/

.slider-container {
    background: white;
    text-align: center;
    padding: 48px;
    /* padding-top: */
    padding-bottom: 24px;
    width: 800px;
    margin: 0 auto;
    margin-top: -360px;
    border-radius: 4px;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.02), 0px 24px 64px rgba(0,0,0,0.03);

    transition: transform 0.25s ease-out;
}
.slider-container:hover {
    /* transform: translateY(-1%); */
}

.slider-header {
    width: 100%;
    text-align: center;
    margin-bottom: 48px;
}
.slider-container h2 {
    /* margin-bottom: 64px; */
}

.slider-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-left {
    width: 330px;
    height: 192px;
    padding: 40px 24px;
    background: white;
    border: dashed 2px #e6e6e6;
    border-radius: 2px;
}
.slider-arrow {
    width: 24px;
    height: 16px;
}
.slider-right {
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column; /* column | row */

    width: 330px;
    height: 192px;
    padding: 48px 24px;
    background: white;
    /* border: dashed 1px #c4c4c4; */
    border: dashed 2px #e6e6e6;
    border-radius: 2px;
}


.label {
    /* font-size: 14px; */
    font-size: 16px;
    font-weight: 400;
    color: #999;
    margin: 0;
    margin-bottom: 4px;
    /* text-transform: uppercase; */
}
.price {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 40px;
    color: #333;
    letter-spacing: 0.2px;
}

input {
    margin: 0 auto;
    -webkit-appearance: none; 
    appearance: none;
    /* width: 600px; */
    width: 100%;
    height: 6px; 
    border-radius: 100px;
    background: #e6e6e6;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 80px; /* Set a specific slider handle width */
    height: 31px; /* Slider handle height */
    /* background-color: white;  */
    background: url('../icons/slider-icon-orange.png');
    background-size: 100%;
    cursor: pointer; /* Cursor on hover */
    border-radius: 200px;
    transition: all 0.2s ease-out;
    border: none;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.04), 0px 3px 8px rgba(0,0,0,0.08);
}

.slider::-webkit-slider-thumb:hover {
    /* background: #66C3CC; */
    /* border: solid 2px #66C3CC; */
    /* box-shadow: 0px 0px 16px rgba(0,0,0,0.30), 0px 10px 24px rgba(0,0,0,0.30); */
    box-shadow: 0px 0px 6px rgba(0,0,0,0.06), 0px 2px 20px 2px rgba(254,164,27,0.15);
}

.slider::-moz-range-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 80px; /* Set a specific slider handle width */
    height: 31px; /* Slider handle height */
    /* background-color: white;  */
    background: url('../icons/slider-icon-orange.png');
    background-size: 100%;
    cursor: pointer; /* Cursor on hover */
    border-radius: 200px;
    transition: all 0.2s ease-out;
    border: none;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.04), 0px 3px 8px rgba(0,0,0,0.08);
}
.slider::-moz-slider-thumb:hover {
    box-shadow: 0px 0px 6px rgba(0,0,0,0.06), 0px 2px 20px 2px rgba(254,164,27,0.15);
    /* background: #66C3CC; */
}
.slider::-moz-focus-outer {
    border: 0;
}


.savings {
    margin: 0;
    margin-top: 8px;
    font-size: 40px;
    line-height: 40px;
    color: #FF9A33;
    font-weight: 400;
}
.saveLabel {
    font-size: 16px;
    text-transform: none;
    font-weight: 400;
    margin: 0;
}

.slider-footer {
    width: 100%;
    margin-top: 48px;
    text-align: center;
}
.slider-footer p {
    font-size: 14px;
    color: #999;
    font-style: italic;
}
.slider-footer span {
    color: #999;
}



/*************




/************************ FAQ Highlights *********************/

.faq-highlight {
    width: 100vw;
    height: 500px;
    background: white;
} 

.faq-content {
    width: 1200px;
    margin: 0 auto;
    padding: 48px;
}

.faq-content > p {
    color: #999;
}



/************************ Charlotte *********************/

.charlotte {
    width: 100vw;
    height: 400px;
    /* background-color: #f8f8f8; */
    background-color: rgba(255,255,255,0.8);
    background-image: url('../images/charlotte.png');
    background-size: cover;
    filter: grayscale(100%);
    background-blend-mode: lighten;
    background-position-y: 30%;
} 

.charlotte-content {
    width: 1200px;
    margin: 0 auto;
    padding: 48px;
    text-align: center;
}

.charlotte-content h3 {
    /* font-family: 'Radley', serif; */
}
.charlotte-content p {
    color: #999;   
}







/************************ footer *********************/

footer {
    width: 100vw;
    height: 80px;
    background: #333;
} 

.footer-content {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


footer .wordmark-1, footer .wordmark-2 {
    color: white;
}

.footer-links {
    display: flex;
}
.footer-links > a {
    margin: 0 16px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.terms {
    display: flex;
}
.terms > a {
    margin: 0 8px;
    color: #999;
    font-size: 12px;
    cursor: pointer;
}





/********************* FAQ page ***************/

/* .faq-splash {
    margin-top: 128px;
    text-align: center;
} */

.faq-header {
    /* background: white; */
}

.faq-header .logo-header {
    opacity: 1;
    /* display: inline-block; */
}
.faq-header a {
    color: #333;
}

.faq-body {
    background: white;
    width: 100vw;
    /* height: 1500px; */
    /* padding-top: 128px; */
}

.faq-splash {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background: #f8f8f8;
    background-image: url('../images/desk-photoshop.png');
    background-size: 100%;
    background-position-y: 40%;
    background-repeat: no-repeat;
    text-align: center;

    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

.faq-splash > h1 {
    margin-bottom: 16px;
    font-family: 'Radley', serif;
}

.faq-content {
    width: 800px;
    margin: 0 auto;
}

.accordion {
    width: 100%;
}



.full-question {
    width: 100%;
    /* padding: 32px; */
    margin-bottom: 24px;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.04), 0px 3px 8px rgba(0,0,0,0.05);
    /* transform: translateY(0%); */
    transition: box-shadow 0.2s ease-out;
}
.full-question.collapsed:hover {
    /* transform: translateY(-5%); */
    box-shadow: 0px 0px 12px rgba(0,0,0,0.06), 0px 8px 16px rgba(0,0,0,0.06);
}
.full-question.expanded {
    box-shadow: 0px 0px 12px rgba(0,0,0,0.06), 0px 8px 16px rgba(0,0,0,0.06);

}


.faq-question {
    /* padding: 32px; */
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: middle;
}
.faq-question h4 {
    flex-grow: 1;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    padding: 32px;
    color: #333;
}

.faq-question .chevron {
    padding: 8px;
    padding-right: 32px;
    transform: rotateX(0deg);
    transition: transform 0.15s ease-out;
}
.expanded .faq-question .chevron {
    transform: rotateX(180deg);
}
.collapsed .faq-question:hover .chevron {
    transform: translateY(4%);
}


.faq-answer {
    width: 100%;
    margin: 0;
    opacity: 0;

    height: auto;
    overflow: hidden;
    max-height: 600px;
    /* transition: max-height 0.2s ease-out, opacity 0.2s 0.2s; */
    transition: all 0.25s ease-out;
}

.collapsed .faq-answer {
    max-height: 0px;
    opacity: 0;
    /* overflow: hidden; */
}
.expanded .faq-answer {
    opacity: 1;
}

.faq-answer p {
    margin: 0;
    /* margin-top: 24px; */
    padding: 32px;
    padding-top: 0px;
    /* color: #999; */
    /* color: #757575; */
    color: #414141;
}

.faq-answer.double > p:nth-child(1) {
    padding-bottom: 12px;
}
.faq-answer.triple > p:nth-child(2) {
    padding-bottom: 12px;
}

.faq-section h2 {
    margin-top: 72px;  
    margin-bottom: 24px;
    font-family: 'Radley', serif;
    color: #999;
    /* color: #ff8e20; */
    /* color: #757575; */
}


.faq-contact {
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    padding: 64px;
    background: #f8f8f8;
    text-align: center;
}







/******************** small breakpoint *************************/

@media all and (max-width: 600px) { 

    /****** text styles ******/
    h1 {
        font-size: 34px;
        font-weight: 300;
        margin-bottom: 64px;
    }


    /****** header *******/
    .navigation {
        width: calc(100% - 32px);
        margin: 0 16px auto;
        height: 52px;
    }
    
    /* .logo {
        width: 60px;
        height: 16px;
    } */

    .navigation .logo {
        position: absolute;
        left: 16px;
        top: 16px;
    }
    .navigation .novel-logo {
        width: 24px;
        height: 21px;
        /* padding-top: 4px; */
    }

    
    .navigation .wordmark-1 {
        font-size: 22px;
    }
    .navigation .wordmark-2 {
        font-size: 18px;
    }
    
    .right-nav {
        display: none;
    }

    .hamburger {
        position: absolute;
        right: 16px;
        top: 16px;
        margin-bottom: 16px;
        display: inline-block;
    }
    .hamburger span {
        /* position: absolute; */
        display: block;
        height: 2px;
        width: 20px;
        margin-top: 4px;
        background: #333;
        border-radius: 50px;

        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .2s ease-out;
        -moz-transition: .2s ease-out;
        -o-transition: .2s ease-out;
        transition: .2s ease-out;
    }

    .hamburger span:nth-child(1) {
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    .hamburger span:nth-child(2) {
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    .hamburger span:nth-child(3) {
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .open > .hamburger span:nth-child(1) {
        margin-top: 1px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .open > .hamburger span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }
    .open > .hamburger span:nth-child(3) {
        margin-top: 6px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .open > .nav {
        position: relative;
    }
   .open {
        height: 320px;
    }
    .open > .nav > .right-nav {
        display: block;
        text-align: left;
        margin-top: 64px;
        padding-left: 8px;        
    }

    li {
        margin: 40px 0;
    }

    li > a {
        font-size: 18px;
        display: block;
        position: static;
        color: #333;
    }
    li > a:before {
        display: none;
    }


    /********* splash *********/



    .splash {
        position: relative;
        /* position: static; */
        width: 100vw;
        height: auto;
        /* overflow: hidden; */
        /* padding-bottom: 96px; */
    } 

    .image-frame {
        position: absolute;
        /* position: static; */
        /* float: right; */
        left: 0;
        top: 0;
        width: 100vw;
        height: 60vh;
        /* background-position-x: 50%; */
    }
    .right-image {
        height: 100%;
        width: 100%;
        background-position: 40%;
    }
    
    .hero-frame {
        display: block;
        position: absolute;
        /* position: static; */
        /* float: left; */
        width: calc(100% - 32px);
        margin: 0 16px auto;
        margin-top: 50vh;
    }
    .hero-text h1 {
        margin-bottom: 32px;
    }
    .hero-text p {
        font-size: 16px;
        line-height: 24px;
    }

    .right-frame {
        display: none;
    }

    .left-frame {
        max-width: 100%;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .left-content {
        min-height: 0;
        padding: 48px 24px;
        margin: 0;
        box-shadow: 0px 10px 30px rgba(0,0,0,0.06), 0px -4px 20px rgba(0,0,0,0.08);
    }



    
    /********* benefits *************/

    .cash-benefits {
        /* position: absolute; */
        position: static;   
        width: 100vw;
        height: auto;
        padding: 24px 0;
        padding-top: 840px;

    }
    
    .benefits-content {
        min-width: 0;
        width: calc(100% - 32px);
        margin: 0 16px auto;
        margin-top: 0px;
        padding-bottom: 40px;
        /* margin-left: 24px; */
    }
    .benefits-header {
        padding: 0;
    }
    
    .interactive-benefits {
        padding: 0;
    }

    .benefits-tabs {
        display: none;
    }
    .benefits-empty-wrapper {
        display: none;
    }
    .benefits-text {
        display: block;
        padding: 0;
        border: none;
    }

    .benefit-text {
        display: block;
        opacity: 1;
        margin-bottom: 64px;
    }
    .benefit-text > h2 {
        display: block;
    }
    
    .benefit-text > p {
        display: none;
    }

    .benefit-text.revealed > p {
        display: block;
    }

    .benefit-text > h4 {
        font-size: 18px;
        color: #757575;
        
    }
    .benefit-text > p {
        font-size: 16px;
    }
    .benefit-text > button {
        display: inline-block;
        text-align: left;
        padding: 0;
        background-color: rgba(0,0,0,0);
        color: black;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        color: #FF8000;
        border: none;
        outline: none;
    }
    



     
    /***** how ********/
    .how-content {
        width: calc(100% - 32px);
        margin: 0 16px auto;
        margin-top: 48px;
        padding: 0px;
    }

    .how-header {
        padding: 0;
        padding-top: 48px;
    }
    .how-header h1 {
        margin-bottom: 32px;
    }

    .timeline {
        width: 100%;
    }

    .how-step {
        width: 100%;
        height: auto;
        display: flex;
        margin-bottom: 24px;
    }

    .b {
        /* order: -1;
        margin-right: 16px; */
        display: none;
    }
    .step-blank {
        width: 0;
        display: none;
    }

    .step {
        /* width: calc(100% - 46px); */
        width: 100%;
    }



    .how-first .a {
        order: 1;
    }
    .how-second .d {
        order: 1;
    }
    .how-third .a {
        order: 1;
    }
    .how-fourth .d {
        order: 1;
    }

   .how-bottom {
        margin-top: 32px;
    }





    /****** pricing *******/

    .pricing {
        width: 100vw;
        /* height: 600px; */
        background:white;
        padding-bottom: 80px;
    } 

    .pricing-content {
        width: calc(100% - 32px);
        margin: 0 16px auto;
        padding: 0px;
        padding-top: 48px;
        padding-bottom: 500px;
        /* padding-bottom: 600px; */
    }
    .pricing-header {
        margin-top: 48px;
        width: 100%;
    }

    .price-description {
        width: 100%;
        text-align: left;
    }
    

    /****** slider *****/
    .slider-container {
        /* background: #143859; */
        display: block;
        text-align: center;
        padding: 40px 24px;
        padding-bottom: 16px;
        width: calc(100% - 32px);
        margin: 0 16px auto;
        margin-top: -420px;
        box-shadow: 0px 0px 30px rgba(0,0,0,0.03), 0px 24px 50px rgba(0,0,0,0.04);
    }

    .slider-container h2 {
        margin-bottom: 48px;
        text-align: left;
        line-height: 32px;
    }
    .slider-container .label {
        font-size: 16px;
    }

    .slider-middle {
        display: flex;
        flex-direction: column;
    }

    .slider-right {
        order: 1;
        width: 100%;
        height: auto;
        padding: 24px 16px;
        margin-bottom: 16px;
        border-width: 1.5px;
    }
    .slider-left {
        order: 2;
        width: 100%;
        height: auto;
        padding: 24px 16px;
        padding-bottom: 32px;
        border-width: 1.5px;
        /* border: none; */
    }

    .slider-arrow {
        display: none;
    }

    

    input {
        width: 100%;
    }


    .label {
        font-size: 14px;
        font-weight: 400;
        /* color: #B9C3CD; */
        margin: 0;
        margin-bottom: 2px;
        /* text-transform: uppercase; */
    }
    .price {
        margin-bottom: 24px;
    }

    .slider-footer p {
        line-height: 20px;
    }



    /****** FAQ ******/
    .faq-content {
        width: calc(100% - 32px);
        margin: 0 16px auto;
        padding: 48px 0;
    }

    /****** Charlotte *****/
    .charlotte {
        height: 300px;
        background-position-x: 50%;
    }

    .charlotte-content {
        width: calc(100% - 32px);
        margin: 0 16px auto;
        padding: 48px 0;
    }



    /******* footer *******/

    footer {
        height: auto;
    } 


    .footer-content {
        width: calc(100% - 32px);
        height: 100%;
        margin: 0 16px auto;
        padding: 32px 0;
        padding-bottom: 40px;
        display: block;
    }

    footer .novel-logo {
        width: 24px;
        height: 21px;
    }
    footer .wordmark-1 {
        font-size: 22px;
    }
    footer .wordmark-2 {
        font-size: 18px;
    }


    .footer-links {
        justify-content: space-between;
        margin-top: 48px;
    }
    .footer-links > a {
        margin: 0;
    }

    .terms {
        display: flex;
        margin-top: 40px;
    }
    .terms > a {
        margin: 0;
        margin-right: 16px;
        color: #999;
    }




    /******** FAQ *********/
    /* .faq-page-content {
        width: calc(100% - 32px);
        margin: 16px auto;
    } */

    .faq-splash {
        background-image: url(../images/desk-mobile.png);
        background-size: cover;
        background-position-x: 50%;
        height: 400px;
        padding: 16px;
        padding-right: 104px;
        text-align: left;
    }

    .faq-content {
        padding-top: 0;
    }

    .full-question {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        margin-bottom: 16px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.04), 0px 2px 5px rgba(0,0,0,0.08);
    }
    .full-question.collapsed:hover {
        box-shadow: 0px 0px 4px rgba(0,0,0,0.04), 0px 2px 5px rgba(0,0,0,0.08);

    }

    .faq-question h4 {
        padding: 20px;
        font-size: 16px;
    } 
    .faq-question .chevron {
        padding-right: 20px;
        transition: transform 0.2s ease-out;
    }

    .faq-answer p {
        margin: 0;
        padding: 20px;
        padding-top: 0px;
        color: #757575;
    }


    .faq-contact {
        margin-top: 24px;
        padding: 48px 16px;
    }
    /* .faq-div1 > h2 {
        color: red;
        font-family: 'Playfair Display', serif;
    }  */

}









/******************** medium breakpoint *************************/

@media all and (min-width: 601px) and (max-width: 1199px) { 



    /****** text styles ******/
    h1 {
        font-size: 34px;
        font-weight: 300;
        margin-bottom: 64px;
    }


    /****** header *******/
    .header {
        /* background: grey; */
    }

    .navigation {
        width: calc(100% - 32px);
        margin: 0 16px auto;
        height: 60px;
    }
    
    /* .logo {
        width: 60px;
        height: 16px;
    } */

    /* .navigation .logo {
        position: absolute;
        left: 16px;
        top: 16px;
    } */

    .navigation .novel-logo {
        width: 24px;
        height: 21px;
        /* padding-top: 4px;  */
    }


    li > a {
        font-size: 18px;
        color: #333;
    }
    li > a:before {
        display: none;
    }



    /********* splash *********/

    .splash {
        position: relative;
        width: 100vw;
        height: calc(45vh + 500px);
        /* padding-bottom: 96px; */
    } 

    .image-frame {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 60vh;
    }

    .right-image {
        height: 100%;
        width: 100%;
        background-position-x: 60%;
    }
    
    .hero-frame {
        display: block;
        position: absolute;
        width: calc(100% - 128px);
        margin: 0 64px auto;
        margin-top: 45vh;
    }
    .hero-text h1 {
        margin-bottom: 32px;
    } 

    .right-frame {
        display: none;
    }

    .left-frame {
        max-width: 800px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0 auto;
        height: auto;
    }
    .left-content {
        min-height: 0;
        padding: 48px 48px;
        margin: 0;
        box-shadow: 0px 10px 30px rgba(0,0,0,0.06), 0px -4px 20px rgba(0,0,0,0.08);
    }


    /********* benefits *************/

    .cash-benefits {
        /* position: absolute; */
        position: static;   
        width: 100vw;
        height: auto;
        padding: 0;
        padding-top: 64px;
        /* padding-top: 840px; */

    }
    
    .benefits-content {
        min-width: 0;
        width: calc(100% - 48px);
        margin: 0 24px auto;
        margin-top: 0px;
        padding-top: 64px;
        /* margin-left: 24px; */
    }

    .interactive-benefits {
        padding: 0;
    }

    .benefits-tabs {
        padding-left: 16px;
        padding-right: 16px;
        width: 320px;
        flex-grow: 0;    
        flex-shrink: 0;  
        flex-basis: 320px; 
    }


    /********** how ************/

    .how {

    } 
    
    .how-content {
        width: calc(100% - 48px);
        margin: 0 24px auto;
        padding: 0;
    }

    
    .how-step {
        width: 100%;
        max-width: 800px;
    }
    .how-first {
        height: 300px;
    }
    .how-second {
        height: 300px;
    }
    .how-third {
        height: 300px;
    }
    .how-fourth {
        height: 300px;
    }
    .how-fifth {
        height: 300px;
    }
    
    .a {
        width: 50%;
        flex-basis: auto;
        /* flex-grow: 2; */
    }
    /* .b {
        height: 100%;
        width: 22px;
        border-right: 4px dotted lightgray;
    }
    .c {
        width: 18px;
    } */
    .d {
        width: 50%;
        flex-basis: auto;
        /* flex-grow: 2; */
    }
    
    

    /****** pricing *******/

    .pricing {
        width: 100vw;
        /* height: 600px; */
        background:white;
        /* padding-bottom: 80px; */
    } 

    .pricing-content {
        width: calc(100% - 48px);
        margin: 0 24px auto;
        padding: 0px;
        padding-top: 48px;
        padding-bottom: 400px;
    }
 
    
    /*** slider ***/
    .slider-container {
        padding: 40px 24px;
        padding-bottom: 16px;
        width: calc(100% - 96px);
        max-width: 800px;
        margin: 0 auto;
        margin-top: -320px;
    }


    /****** FAQ *******/

    .faq-highlight {
        width: 100vw;
    } 
    
    .faq-content {
        width: calc(100% - 48px);
        margin: 0 24px auto;
        padding: 48px 0;
    }


    /****** Charlotte *******/

    .charlotte {
        width: 100vw;
    } 
    
    .charlotte-content {
        width: calc(100% - 48px);
        margin: 0 24px auto;
        padding: 48px 0;
    }


    /****** Footer *******/

    footer {
        width: 100vw;
    } 
    
    .footer-content {
        width: calc(100% - 48px);
        margin: 0 24px auto;
        padding: 48px 0;
    }


}
